 <!-- Page Heading -->
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header text-center">
            Administrar
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header text-center">
                            <small>Administrar usuarios</small>
                        </h1>
                    </div>
                </div>
<div class="row">
     <div class="col-md-8 col-md-offset-2">
         	

             <div class="table-responsive">
                 <table class="table table-bordered table-hover table-striped">
                     <thead>
                         <tr>
                             <th>Usuario</th>
                             <th>Rol/es</th>
                             <th>Nombre</th>
                             <th>Apellidos</th>
                             <th>Facultad</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>jterr</td>
                             <td>Administrador</td>
                             <td>JAvier</td>
                             <td>Terrón Menoyo</td>
                             <td>Informática</td>
                             <!--  <td><a href="modificar.html"><button type="submit" class="btn btn-default">Modificar</button></a></td>-->
                         </tr>
                         <tr>
                             <td>asr</td>
                             <td>Administrador</td>
                             <td>Adriel</td>
                             <td>Saa Romano</td>
                             <td>Informática</td>
                             <!--  <td><a href="modificar.html"><button type="submit" class="btn btn-default">Modificar</button></a></td>-->
                         </tr>
                          
                         
                     </tbody>
                 </table>
             </div> 
             <!-- /.table-responsive-->
         
     </div>
 </div>
 <!-- /.row -->
