 <!-- Page Heading -->
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header text-center">
            Administrar
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-12 col-md-offset-2">
        
	<a href="administrar/administrar_usuarios" th:href="@{/administrar/administrar_usuarios}" class="button blue large">
		<i class="fa fa-users"></i>
		<span class="icon-house"></span>Administrar usuarios
	</a>
 
	<a href="administrar/administrar_edificios" th:href="@{/administrar/administrar_edificios}" class="button red large">
		<i class="fa fa-building"></i>
		<span class="icon-warning"></span>Administrar edificios
	</a>
 
	<a href="#" class="button large green">
		<span class="icon-code"></span>Administrar espacios
	</a>
        
    </div>
</div>
 <!-- /.row -->
