.calendario{
    margin-top: 50px;
}

table.calendario {
    margin:0;
    width:100%;
    border:solid #ccc;
    border-width:1px 0 0 1px
}
.calendario th{
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
    font-weight: 300;
  
}

.calendario td{
    padding: 5px;
    width: 14.28%;
    height: 65px;
    border: 1px solid #CCC;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.calendario td.activada:hover{
     font-size: 1.7em;
}

.calendario td.activada{
   background-color: #FFF;
}

.calendario td.desactivada{
   background-color: #E9E9E9;
}

.calendario td.hoy{
   color: #3D7CE2;
}

.calendario td.semiocupado{
   background-color: #EEA236;
}

.calendario td.ocupado{
   background-color: #DF343D;
}

.calendario td.seleccionada{
    font-size: 1.7em;
    border: 2px solid #000;
    -box-shadow: inset 0px -10px 15px -5px rgba(0,0,0,0.5);
    
}

.month-bar{
    border: 1px solid #CCC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #E9E9E9;
    padding: 10px;
    margin: 0;
    height: 38px;
}